/* =================ROOT========================*/
:root {
    /* Neutral */
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}
/* =================/ROOT========================*/


/* =================RESETS========================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
    color: var(--medium-gray);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    /* font wieights 500 and 700 */
}

a, .link-title {
    text-decoration: none;
    color: var(--medium-gray);
}

/* =================/RESETS========================*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: var(--almost-white);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    min-height: 98vh;
}

.nav-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.links-logo-container,
.links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links-container > div,
.links-container > a {
    margin-right: 2em;
}

.logo-container {
    margin: 1em 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
}

.login-container > button {
    margin: 1em;
    background-color: var(--almost-white);
    cursor: pointer;

}

.login,
.btn-dropdown,
.btn-container,
.logo-container {
    outline: none;
    border: none;
    background-color: var(--almost-white);
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-dropdown {
    margin-right: .5em;
}

.register {
    border: 1px solid var(--medium-gray);
    border-radius: 1em;
    padding: 1em 2em;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clients-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-img-container img {
    width: 70%;
}

.dropdown-content {
    display: none;
}

.show-dropdown {
    display: block;
}
/* Frontend Mentor Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}